.nav-logo {
  display: block;
  @extend %links;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 80px;

  font-size: 26px;
  line-height: 1.19;
  font-family: $logo-font, $secondary-font;
  color: $logo-text-color;
  font-weight: 700;
}
.span-color {
  color: $title-text-color;
}
